<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <p>Welcome to
    <%= appName%>
  </p>
  <p>
    <form action="" method="post">
      用户名：<input type="text" name="uname"> <br> 密码：
      <input type="text" name="upwd"> <br>
      <input type="submit" value="登录">
    </form>
  </p>
</body>

</html>